<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383802072701-ul61ro41f61bue2dcjts0ubtekum2hb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383802072701-ul61ro41f61bue2dcjts0ubtekum2hb5</string>
	<key>API_KEY</key>
	<string>AIzaSyC12aR4ZE-LgBHbReNz2PQmwtetvcjjnRw</string>
	<key>GCM_SENDER_ID</key>
	<string>383802072701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.button.PokemonFigma</string>
	<key>PROJECT_ID</key>
	<string>pokemonfigma-c5219</string>
	<key>STORAGE_BUCKET</key>
	<string>pokemonfigma-c5219.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383802072701:ios:d7ad448f7487024f205b14</string>
</dict>
</plist>